<a href="https://colab.research.google.com/github/KUMARKEELLA26/PYTHON-/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EXCERCISE: 1


a.Running instructions in interactive interpreter and a python script

In [ ]:
a=5
b=7
print(a,b)

5 7

b.write a program to purposefully riase indentation error and correct it

In [ ]:
if 18>9:
  #printf("true")
  print("true")

true

EXERCISE:2 OPERATIONS 


a. write a program to compute distance betweent two points taking input from the user

In [ ]:
import math
x1=int(input("Enter X1 point:"))
y1=int(input("Enter Y1 point:"))
x2=int(input("Enter X2 point:"))
y2=int(input("Enter Y2 point:"))
dis=math.sqrt(math.pow(x2 - x1, 2) +math.pow(y2 - y1, 2) * 1.0)
print(dis)

Enter X1 point:5
Enter Y1 point:4
Enter X2 point:0
Enter Y2 point:0
6.4031242374328485

b.write a program add.py that takes 2 numbers as command line arguments and print its sum

In [ ]:
import sys
x=int(sys.argv[1])
y=int(sys.argv[2])
sum=x+y
print("The addition is :",sum)

5 15
The addition is : 20

EXCERCISE:3 CONTROL FLOW 


a.write a program to test wheather the given number is even or not

In [ ]:
a=int(input("Enter a Number : "));
if(a%2==0):
     print("This Number is Even")
else:
     print("This Number is Odd")

Enter a Number : 2
This Number is Even

b.using  for loop ,write a program that prints out decimal equivalent of 1/2,1/3,1/4.....1/10

In [ ]:
for i in range (2,11):
  print(1/i)

0.5
0.3333333333333333
0.25
0.2
0.16666666666666666
0.14285714285714285
0.125
0.1111111111111111
0.1

c.write a program that loops over a sequence .what is  sequence

In [ ]:
#Sum of all the list elements 

Num=[1,2,3,4,5,6,7,8,9,10]

Sum=0

for i in Num:

    Sum=Sum+i

print(Sum)

55

d.write a program using loop that asks for the number and prints a countdown from that number to zero

In [ ]:
num=int(input("Enter your number"))
while(num>=0):
    print(num)
    num=num-1

Enter your number6
6
5
4
3
2
1
0

EXCERCISE :4 CONTROL FLOW ---CONTINUED

A.find the sum of all the primes below teo million

In [ ]:
import math
def check_prime(num):
    if num > 2 and num % 2 == 0:
        return False
    else:
      
        for i in range(3, int(math.sqrt(num)) + 1, 2):
            if num % i == 0:
                return False
    return True
n=int(input("Enter number: "))
sum = 0
for i in range(2, n):
        if check_prime(i):
            print(i)
            sum += i
print(sum)

Enter number: 10
2
3
5
7
17

b.find the sum of even terms in fabonoacci series below four million

In [ ]:
a=0
b=2
sum=a+b
n=int(input("Enter limit:"))
while (b<=n) :
        c=4*b+a
        if (c> n) :
           break
        a=b
        b=c
        sum=sum+c
print(sum)

Enter limit:45
44

EXCERCISE : 5 DS

A.write a program to count the number of characters in the string and store them in a dictionary data struture

In [ ]:
str=input("enter string : ")
f = {} 
for i in str: 
    if i in f: 
        f[i] += 1
    else: 
        f[i] = 1
print(f)

enter string : kumar
{'k': 1, 'u': 1, 'm': 1, 'a': 1, 'r': 1}

b.write a program to use and split and join methods in the string and trace a birthday with a dictinary data structure

In [ ]:
dob={"kumar":"26-jan-2002","dummu":"31-jan-2002"}

name=input("Which person dob do you want to find:")
I=name.split()
birth=""
for i in I:
  if i in dob.keys():
        pers=i
print("".join([pers,"  birthday is",dob[pers]]))

Which person dob do you want to find:dummu
dummu  birthday is31-jan-2002

EXERCISE:-6 DS__CONTINUED

A.Write a program combinelists that combines these lists into dictionary

In [2]:
name = ["kumar ", "kiran", "nagababu"]
age = [19, 24, 15]
res = {name[i]: age[i] for i in range(len(age))}
print ("Resultant dictionary is : " + str(res))

Resultant dictionary is : {'kumar ': 19, 'kiran': 24, 'nagababu': 15}

B. write a program to count frequency of characters in a given file.can you character frequency to tell whether the given file is phython file,cprogram file or text file

In [ ]:
filetypes=['.py','.c','.txt'] 
fn=input("Enter the file name:")
f=open(fn,"r")
count=dict()
print("Given file is ",end='') 
for ft in filetypes:
    if (ft in fn):
      if(ft=='.py'):
        print("Python File")
      elif (ft=='.txt'):
        print("Text File")
      elif (ft=='.c'):
        print("C File")
for line in f:
  for ch in line:
    if ch in count:
      count[ch]=count[ch]+1
    else:
       count[ch]=1
print(count)
f.close()

OUTPUT:

Enter the file name:sum.py Given file is Python File {'i': 7, 'm': 3, 'p': 2, 'o': 2, 'r': 4, 't': 5, ' ': 5, 's': 9, 'y': 5, '\n': 5, 'x': 2, '=': 3, 'n': 4, '(': 3, '.': 2, 'a': 3, 'g': 2, 'v': 2, '[': 2, '1': 1, ']': 2, ')': 3, '2': 1, 'u': 2, '+': 1, '"': 2, 'T': 1, 'h': 1, 'e': 1, 'd': 2, ':': 1, ',': 1}

EXERCISE:-7 FILES

a.write a program to print each line of a file in reverse order

In [ ]:
obj=open("abc.text","r")
if obj:
  st=obj.read()
  print("file content is:\n",st)
  obj.close()

  print()
  lines=st.split("\n")
  
  for ln in lines:
   i=len(ln)-1
   while(i>=0):
    print(ln[i],end="")
  i=i-1
  print()

file content is:
welcome to python programmig...

b.write a program to compute the number of characters,words and lines in a file.

In [ ]:
nc=nw=nl=0
file=open("abc.txt","r")

nl=nw=nc=0
print("file content:\n")
for line in file:
  ln=line.strip("\n")
  print(ln)
  words=ln.split()
  nl+=1
  nw+=len(words)
  nc+=len(line)
  file.close()
  print("\n no.of.lines:",nl,"words:",nw,"characters:",nc)

output:-

file content:
welcome to python programming...
  kumar
  cse
  swrn

   no.of lines:4 words7 characters:44

EXERCISE:-8 FUNCTIONS 

A.Write a function ball collide that takes two balls as parameters and computes if they arecolliding.Your function should return a Boolean representing whether or not the balls arecolliding.

In [15]:
import math
def ball_collide(ball_tuple1,ball_tuple2):
    d=math.sqrt((ball_tuple1[0]-ball_tuple2[0])**2 + 

(ball_tuple1[1]-ball_tuple2[1])**2)
    if(d<=(ball_tuple1[2]+ball_tuple2[2])):
        return True
    else:
        return False

ball_tuple1=(-2,-2,3)
ball_tuple2=(1,1,3)
collision=ball_collide(ball_tuple1,ball_tuple2)
if(collision):
    print("Balls are collide.")
else:
    print("Balls are not collide.")

Balls are collide.

b.find mean,median,mode for the given set of numbers in a list

In [19]:
import numpy as np
from scipy import stats
lst = [] 
lst = [int(item) for item in input("Enter the list items : ").split()] 
mean= np.mean(lst)
median = np.median(lst)
mode= stats.mode(lst)
print("Mean: ", mean)
print("Median: ", median)
print("Mode: ", mode)

Enter the list items : 1 2 5 8 9 11 14 20
Mean:  8.75
Median:  8.5
Mode:  ModeResult(mode=array([1]), count=array([1]))

EXERCISE:-9 FUNCTIONS__CONTINUED 

a) Write a function nearly equal to test whether two strings are nearly equal. Two strings a and bare nearly equal when a can be generated by a single mutation on b.

In [20]:
string1 = input("Enter first string: ")
string2 = input("Enter second string: ")
if string1 == string2:
    print("\nBoth strings are equal to each other.")
    print(string1,"==",string2);
else:
    print("\nStrings are not equal.")
    print(string1,"!=",string2);

Enter first string: KUMAR
Enter second string: BADRI

Strings are not equal.
KUMAR != BADRI

b) Write a function dup to find all duplicates in the list.

In [21]:
from collections import Counter
lst = [] 
lst = [int(item) for item in input("Enter the list items : ").split()] 
d = Counter(lst)
print(d)
new_lst = tuple([item for item in d if d[item]>1])
print(new_lst)

Enter the list items : 5 4 2 3 1
Counter({5: 1, 4: 1, 2: 1, 3: 1, 1: 1})
()

c) Write a function unique to find all the unique elements of a list.

In [22]:
from collections import Counter
def unique(lst):
    print(*Counter(lst))
lst = [] 
lst = [int(item) for item in input("Enter the list items : ").split()] 
print("the unique values from list is")
unique(lst)

Enter the list items : 44 25 85 44 22 6 5 6
the unique values from list is
44 25 85 22 6 5

EXCERCISE:-10:FUNCTIONS- PROBLEMS SOLVING

a)Write a function cumulative product to compute cumulative product of a list of numbers.

In [23]:
def Cumulative_sum(lst):   
    cum_list = []   
    length = len(lst)   
    cum_list = [sum(lst[0:x:1]) for x in range(0, length+1)]   
    return cum_list[1:]  
lst = [] 
lst = [int(item) for item in input("Enter the list items : ").split()] 
print (Cumulative_sum(lst))

Enter the list items : 5 4 2 3 8
[5, 9, 11, 14, 22]

b)Write a function reverse to reverse a list. Without using the reverse function.

In [24]:
def Reverse(lst):
    new_lst = lst[::-1]
    return new_lst
lst = [] 
lst = [int(item) for item in input("Enter the list items : ").split()] 
print(Reverse(lst))

Enter the list items : 2 5 6 4 2 3
[3, 2, 4, 6, 5, 2]

c) Write function to compute gcd, lcm of two numbers. Each function shouldn't exceed one line.

In [42]:
import math
a=int(input("Enter a:"))
b=int(input("Enter b:"))
print ("The gcd of a and b is : ",end="")
print (math.gcd(a,b))
def lcm(a, b):
    return a*b/gcd(a,b)
print('lcm of a &b is:',lcm(a,b))

Enter a:2
Enter b:3
The gcd of a and b is : 1

NameError: ignored

lcm of a&b is: 6.0